# Archivos log
*.log
*.log.*

# Carpetas cache
cache/
*/cache/
*/*/cache/

# Carpeta dev
dev/
*/dev/
*/*/dev/

# Archivos del sistema
.DS_Store
Thumbs.db

# Entornos virtuales
venv/
env/

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
*.temp
